<!DOCTYPE HTML>
	<html lang="en-us">
		<head>
			<meta charset="utf-8">
			<title>Calc Result Page</title>

            <meta name="viewport" content="width=device-width, initial-scale=1">
            
		</head>
		<body> 
            
            <header>
                
                <h1> Result Page</h1>
                <p> This is an EJS file...</p>
    
            </header>          
            
            <main>
                <h1> Postal Rate Results </h1>
                <p> Your form wieghs: <%= wieght %></p>
                <p> Your are sending <%= type %>. </p>
                <p> This will cost you: $<%= cost %> </p>
                
            </main>
            
            <footer>

            </footer>
            
		</body>	
	</html>